<!DOCTYPE html>
<html>
<head>
    <title>Meu Projeto</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<nav class="navegacao">
    <a href="/">Home</a>
    <a href="/sobre">Informações</a>
    <a href="/contato">Contato</a>
    <a href="/produtos">Produtos</a>
</nav>

<hr>