<%- include('partials/header') %> 
// o  <%- = significa incluir o HTML
// insere o conteudo dentro do('/')

<div class="container">
    <h1>Bem-vindo ao Sistema</h1>
    <p>Organize e gerencie seus produtos de forma eficiente aqui!</p>
    <a href="/produtos">Acessar Catálogo</a>
</div>

<%- include('partials/footer') %>
